<div class="w-full h-screen flex items-center justify-center">
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="h-screen items-center justify-center flex">
      <div
        class="border border-slate-400 rounded-md w-full m-2 lg:w-1/2 shadow"
      >
        <div
          class="border-b border-slate-400 py-8 font-bold text-slate-600 text-center text-xl tracking-widest uppercase"
        >
          Login
        </div>
        <form [formGroup]="loginForm" class="bg-grey-lightest px-10 py-10">
          <div class="mb-3">
            <input
              type="text"
              class="border border-blue-200 w-full p-3 rounded-md"
              id="inputUser"
              aria-describedby="userHelp"
              placeholder="Usuario"
              formControlName="nickname"
              autocomplete="off"
            />
            <small
              *ngIf="
                loginForm.controls['nickname'].hasError('required') &&
                loginForm.controls['nickname'].touched
              "
              class="text-red-600 support-text"
            >
              Nombre de usuario requerido.
            </small>
          </div>
          <div class="mb-3">
            <div class="flex relative">
              <input
                [type]="seePass ? 'text' : 'password'"
                class="border w-full border-blue-200 p-3 rounded-md"
                id="inputPassword"
                placeholder="Contraseña"
                formControlName="password"
              />
              <span
                class="material-icons update-icon see-icon absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
                (click)="seePass = !seePass"
              >
                {{ seePass ? "visibility_off" : "visibility" }}
              </span>
            </div>
            <small
              *ngIf="
                loginForm.controls['password'].hasError('required') &&
                loginForm.controls['password'].touched
              "
              class="text-red-600 support-text"
            >
              Contraseña requerida.
            </small>
          </div>
          <div class="flex">
            <button
              class="bg-blue-500 hover:bg-blue-400 w-full p-4 text-sm text-white uppercase font-bold tracking-wider rounded-md"
              (click)="Submit()"
            >
              Login
            </button>
          </div>
        </form>
        <div class="border-t border-slate-400 px-10 py-6">
          <div class="flex justify-between mt-2">
            <a
              routerLink="/recovery-password"
              class="text-slate-600 hover:text-slate-800 underline"
            >
              ¿Has olvidado tu contraseña?
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="h-screen lg:flex hidden items-center justify-center flex-col bg-slate-700"
    >
      <div
        class="border-white py-2 font-bold text-white text-center text-xl uppercase"
      >
        Bienvenido!
      </div>
      <div class="py-2 text-gray-200 text-center">
        ¿No tienes cuenta? <strong>Registrate</strong>
      </div>
      <button
        (click)="register()"
        class="border hover:bg-blue-400 mt-8 w-64 p-4 text-sm text-white uppercase font-bold tracking-wider rounded-md"
      >
        Registrate
      </button>
    </div>
  </div>
</div>
