<div class="overflow-x-auto m-2">
  <table class="min-w-full divide-y divide-gray-400">
      <thead class="bg-slate-200">
          <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Handle
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
              </th>
              <th scope="col" class=" py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Description
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  SKU
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Grams
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Stock
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Price
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Compare Price
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Barcode
              </th>
          </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngIf="productsList?.length === 0">
              <td colspan="9" class="px-6 py-4 text-center text-gray-500 uppercase">No hay información para mostrar</td>
          </tr>
          <tr *ngFor="let product of productsList; index as i" class="hover:bg-gray-50">
              <td class="px-2 py-4 ">{{ product?.handle }}</td>
              <td class="px-2 py-4 ">{{ product?.title }}</td>
              <td class=" py-4 " [innerHTML]="product?.description"></td>
              <td class="px-2 py-4">{{ product?.sku }}</td>
              <td class="px-2 py-4">{{ product?.grams }}</td>
              <td class="px-2 py-4 ">{{ product?.stock }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-right">{{ product?.price | currency }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-right">{{ product?.compare_price | currency }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-right">{{ product?.barcode }}</td>
          </tr>
      </tbody>
  </table>
</div>

  