<div class="w-full h-screen flex items-center justify-center">
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div
      class="h-screen lg:flex hidden items-center justify-center flex-col bg-slate-700"
    >
      <div
        class="border-white py-2 font-bold text-white text-center text-xl uppercase"
      >
        ¡Ya tienes una cuenta!
      </div>
      <div class="py-2 text-gray-200 text-center">
        Si ya tienes una cuenta, <strong>inicia sesión</strong>
      </div>
      <button
        routerLink="/login"
        class="border hover:bg-blue-400 mt-8 w-64 p-4 text-sm text-white uppercase font-bold tracking-wider rounded-md"
      >
        Iniciar Sesión
      </button>
    </div>

    <div class="h-screen font-semibold rounded-l-lg">
      <div class="h-screen items-center justify-center flex">
        <div
          class="border border-slate-400 rounded-md w-full lg:w-1/2 m-2 shadow"
        >
          <div class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
            <div
              class="border-b border-slate-400 py-4 font-bold text-slate-600 text-center text-xl tracking-widest uppercase"
            >
              Recuperar Contraseña
            </div>

            <div *ngIf="currentStep === 1" class="pt-6">
              <form
                [formGroup]="nickNameForm"
                class="bg-grey-lightest px-10 py-10"
              >
                <div class="h6 uppercase mb-2 text-slate-700">
                  Ingresa tu usuario, por favor
                </div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="border border-blue-200 w-full p-3 rounded-md"
                    id="inputUser"
                    aria-describedby="userHelp"
                    placeholder="Usuario"
                    formControlName="nickname"
                    autocomplete="off"
                  />
                  <small
                    *ngIf="
                      nickNameForm.controls['nickname'].hasError('required') &&
                      nickNameForm.controls['nickname'].touched
                    "
                    class="text-red-600 support-text"
                  >
                    Nombre de usuario requerido.
                  </small>
                </div>
                <div class="flex">
                  <button
                    [disabled]="!nickNameForm.valid"
                    class="bg-blue-500 hover:bg-blue-400 w-full p-4 text-sm text-white uppercase font-bold tracking-wider rounded-md"
                    (click)="getUser()"
                  >
                    Siguiente
                  </button>
                </div>
              </form>
            </div>

            <div *ngIf="currentStep === 2" class="pt-6">
              <div class="h6 uppercase mb-2 text-slate-700">
                Datos del Usuario
              </div>
              <div class="flex flex-col">
                <div>
                  Nombres:
                  <strong
                    >{{ this.users.name }} {{ this.users.last_name }}</strong
                  >
                </div>
              </div>
              <form
                [formGroup]="userDataForm"
                class="bg-grey-lightest px-10 py-10"
              >
                <div class="text-sm mb-2">¿Cúal es el nombre de tu madre?</div>
                <div class="mb-3">
                  <input
                    type="text"
                    class="border border-blue-200 w-full p-3 rounded-md"
                    id="securityAnswer"
                    placeholder="Nombre de tu mamá"
                    formControlName="securityAnswer"
                    autocomplete="off"
                  />
                  <small
                    *ngIf="
                      userDataForm.controls['securityAnswer'].hasError(
                        'required'
                      ) && userDataForm.controls['securityAnswer'].touched
                    "
                    class="text-red-600 support-text"
                  >
                    Respuesta requerida.
                  </small>
                </div>
                <div class="flex">
                  <button
                    [disabled]="!userDataForm.valid"
                    class="bg-blue-500 hover:bg-blue-400 w-full p-4 text-sm text-white uppercase font-bold tracking-wider rounded-md"
                    (click)="compareQuestion()"
                  >
                    Siguiente
                  </button>
                </div>
              </form>
            </div>

            <div *ngIf="currentStep === 3" class="pt-6">
              <div class="h6 uppercase mb-2 text-slate-700">
                Nueva Contraseña
              </div>
              <form
                [formGroup]="passwordForm"
                class="bg-grey-lightest px-10 py-10"
              >
                <div class="mb-3">
                  <input
                    type="password"
                    class="border border-blue-200 w-full p-3 rounded-md"
                    id="newPassword"
                    placeholder="Nueva Contraseña"
                    formControlName="newPassword"
                    autocomplete="off"
                  />
                  <small
                    *ngIf="
                      passwordForm.controls['newPassword'].hasError(
                        'required'
                      ) && passwordForm.controls['newPassword'].touched
                    "
                    class="text-red-600 support-text"
                  >
                    Contraseña requerida.
                  </small>
                </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="border border-blue-200 w-full p-3 rounded-md"
                    id="confirmPassword"
                    placeholder="Confirmar Contraseña"
                    formControlName="confirmPassword"
                    autocomplete="off"
                  />
                  <small
                    *ngIf="
                      passwordForm.controls['confirmPassword'].hasError(
                        'required'
                      ) && passwordForm.controls['confirmPassword'].touched
                    "
                    class="text-red-600 support-text"
                  >
                    Confirmación de contraseña requerida.
                  </small>
                  <div class="text-red-600 support-text">
                    {{ this.messagePassword }}
                  </div>
                </div>
                <div class="flex">
                  <button
                    [disabled]="!passwordForm.valid"
                    class="bg-blue-500 hover:bg-blue-400 w-full p-4 text-sm text-white uppercase font-bold tracking-wider rounded-md"
                    (click)="onSubmit()"
                  >
                    Cambiar Contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
